
 <!-- Chart -->
    <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('date', 'Date');
      data.addColumn('number', 'Index Score');

      data.addRows([
      [new Date(2017, 2, 1), 428 ],
      [new Date(2017, 2, 14), 328 ],
      [new Date(2017, 3, 1), 442 ],
      [new Date(2017, 3, 15), 455 ],
      [new Date(2017, 4, 1), 455 ],
      [new Date(2017, 4, 16), 452],
      [new Date(2017, 5, 1), 501]
    ]);


      var options = {
        backgroundColor: 'transparent',
        legend: { position: 'none' },
        lineWidth: 10,
        colors:['#fff'],
        dataOpacity: .5,
        fontName: "Inconsolata",
        chartArea:{width:'90%'},
        animation: {"startup": true},
        pointSize: 30,
        vAxis: {
            gridlines: {
                color: 'transparent',

            },
            textStyle: {
              color: "white",
             },

        },
        hAxis: {
            gridlines: {
                color: 'transparent'
            },
            textStyle: {
              color: "white",
             },
        }

      };


         function resize () {
			  var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

			  chart.draw(data, options);
			}

          window.onload = resize();
          window.onresize = resize;


      }
</script>


<!-- timeline -->

<script type="text/javascript">
  // The TL.Timeline constructor takes at least two arguments:
  // the id of the Timeline container (no '#'), and
  // the URL to your JSON data file or Google spreadsheet.
  // the id must refer to an element "above" this code,
  // and the element must have CSS styling to give it width and height
  // optionally, a third argument with configuration options can be passed.
  // See below for more about options.
  var options = {
    start_at_end: true,
    initial_zoom: 0.5,

    marker_height_min: 10,
  }


  var timeline = new TL.Timeline('timeline-embed',
    'https://docs.google.com/spreadsheets/d/1hXV7Lef9DNeRF2DjmO5Ei05E5TRvi1CX4eHsZbfuhsE/pubhtml', options);

</script>