{% assign fti_value = site.data.index.fti_value %}



{% if fti_value > 0 and fti_value < 50 %}
  {% assign current = 'fail' %}
	{% assign pointer = ((fti_value * 0.31)+ 5.5) %}
	{% assign pointer = fti_value | times: 0.31 | plus: 5.5 %}
{% elsif fti_value >= 50  and fti_value < 300 %}
  {% assign current = 'alarm' %}
{% assign pointer = fti_value | minus: 50 | times: 0.072 | plus: 21 %}
{% elsif fti_value >= 300  and fti_value < 600 %}
  {% assign current = 'danger' %}
	{% assign pointer = fti_value | minus: 300 | times: 0.056667 | plus: 39 %}
{% elsif fti_value >= 600  and fti_value < 800 %}
  {% assign current = 'caution' %}
	{% assign pointer = fti_value | minus: 600 | times: 0.09 | plus: 56 %}
{% elsif fti_value >= 800  and fti_value <= 1000 %}
  {% assign current = 'healthy' %}
	{% assign pointer = fti_value | minus: 800 | times: 0.09 | plus: 77 %}
{% else %}
 {% assign current = 'nada' %}
{% endif %}
