body {
    font-family: $mono;
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
	font-weight: 500;
	visibility:visible;

}

.wf-loading {
	h1, h2, h3, h4, h5, h6 {
		visibility: hidden;


	}
}

p, li {
	font-size: 1.1em;
	line-height: 1.4em;
	margin-bottom: 1em;

}


h1 {
	font-size: 5em;
	margin: .5em 0;
	text-transform:uppercase;
}

h2 {
	font-size: 3em;
	margin-bottom: .25em;
}

h3 {
	font-size: 2em;
	text-transform:uppercase;
	margin-bottom: .25em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 2em;
}

h6 {
	font-size: 2em;
}


a {
	text-decoration: none;
	@extend %transition;
}

p {
	a {
	text-decoration: underline;
}
}


.logotype {
	font-family: $mono;
	font-size: 1em;
	text-transform: uppercase;	
}