---
layout: default
---


 {% include pointer.html%}

<!-- <h6>FTI_VALUE: {{ fti_value }} <br> {{pointer}}</h6> -->

<section class="home-intro">
		<h1 class="logotype">{{ page.title }}</h1>

		<div class="editorial-intro">
			<h1 class="editorial-title">{{ page.title }}</h1>
			<p class="intro-copy">{{ content }}</p>
			<div class="trending-tooltip">
				<h2>The current number is {{fti_value}}</h2>
				<p>This is (up/down) (XX) points since (last week)</p>
			</div>
	</div>




<style media="screen">
.index-number-current {
	text-align: center;
	color: black;
	position: absolute;
	bottom: {{pointer | append: "%"}};
	left: 3.2em;
	height: 10px;
	width: 10px;
	background: rgba(255, 255, 255, 0.8);
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both; }
</style>


		<section class="freedom-index ">
      {% for object in page.levels %}
        {% if  object.name == current %}
          <div class="index-level index-level-{{ object.name }}  index-level-current ">
          {% else %}
          <div class="index-level index-level-{{ object.name }}">
        {% endif %}
          <div class="">
            <span>{{object.index_value}}</span>
            <div class="index-group">
              <h2>{{ object.name }}</h2>
              <p>{{object.description}}</p>
            </div>
          </div>
      </div>
      {% endfor %}




			<div class="index-number-current index-number-down" data-index-number="{{fti_value}}">
			</div>
		</section>
  
	</section>
		<div class="chart-wrap">
    <h2>Where we've been</h2>
      <div id="curve_chart" style="width: 100%; height: auto;"></div>
    </div>
